@using Radzen.Blazor

<h3>PieChart</h3>

<RadzenChart ColorScheme="@ColorScheme.Divergent">
    <RadzenPieSeries Data="@dataItems"  Title="Procent: " CategoryProperty="Label" ValueProperty="Procent">
       @* <RadzenSeriesDataLabels  Visible="@showLabels">*@
        <TooltipTemplate Context="data">
            <div>
                <strong>@data.Label</strong>
                <br />
                <strong>@data.Procent %</strong>
            </div>            
        </TooltipTemplate>
        @*</RadzenSeriesDataLabels>*@        
    </RadzenPieSeries>
    <RadzenLegend Position="LegendPosition.Bottom"/>
</RadzenChart>


@code {
    
    [Parameter]
    public string[] Labels { get; set; }
    [Parameter]
    public double[] Data { get; set; }
    
    private bool showLabels { get; set; } = true;

    private List<DataItem> dataItems { get; set; } = new List<DataItem>();
    
    

    protected override void OnParametersSet()
    {
        SetDataItems();
        StateHasChanged();
    }

    class DataItem
    {
        public string? Label { get; set; }
        public double Procent { get; set; }
    }

    private void SetDataItems()
    {
        if (Labels != null && Data != null && Labels.Length == Data.Length)
        {
            dataItems.Clear();
            int index = 0;
            foreach (string label in Labels)
            {

                DataItem item = new()
                    {
                        Label = label,
                        Procent = Data[index]
                    };
                dataItems.Add(item);
                index++;
            }
        }
    }
}
